button, input, textarea {
	display: block;
}
button{
	margin-top: 10px;
}
select{
	min-height: 400px !important;
}
table{
	width: 100%;
}
td, th{
	padding: 20px;
	width: 45%;
}
th:nth-child(3){
	width: 10%;
}
#urlCounter{
	position: fixed;
	top: 20px;
	left: 20px;
	font-size: 20px;
}
#urlCounter div{
	float: left;
}
#textWrap{
	position: relative;
	top: -2px;
}
#spinner{
	margin-right: 10px;
}
body.sortUp #sortDir:after{
	content:'\25BC';
}
body.sortDown #sortDir:after{
	content:'\25B2';
}
